:root {
    --background-color: #333e40;
    --color-2: #895a4a;
    --color-3: #733B1A;
    --text-color: #F2D6B3;
    --text-color-2: #D9BB96;
    --text-color-3: #e5d7cd;

    --breakpoint-1: 840px;
    --boundeins-strange-font: 'Bandeins Strange', sans-serif;
}


body {
    font-family: var(--boundeins-strange-font);
    font-size: 16px;
    line-height: 1.5;

    color: var(--text-color);

    background-color: var(--background-color);
    background-image: url(assets/images/background_web_updated_april23.png);
    background-repeat: no-repeat;
    background-size: 1080px auto;
    /* width and height */
    /* background-size: 100% auto; */
    /* background-size: 100vw auto; */
    /* center X axis and top edge */
    background-position: center top;
}

a {
    text-decoration: none;
    color: var(--text-color);
}


ul {
    list-style-type: none;
}

.heading {
    color: var(--text-color);
    /* -webkit-text-fill-color: transparent; */
    /* -webkit-text-stroke-width: 3px; */
    /* -webkit-text-stroke-color: var(--text-color-2); */
    font-size: 2.5em;
    line-height: 1;
}

img {
    filter: saturate(0.7) sepia(0.2) contrast(1) brightness(1);
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

.heading-orange {
    font-size: 48px;
    /* -webkit-text-stroke-color: var(--color-2); */
    margin-bottom: 3rem;
}

blockquote {
    margin-left: 0;
    color: var(--text-color-2);
    font-size: 24px;
}

.cite {
    display: inline-block;
    color: var(--color-2);
    line-height: 1;
    padding: 24px 18px;
    border-radius: 16px;
    border: solid 3px var(--color-2);
    /* text-transform: uppercase; */
}

/* make it property display of block to take up full width */
.creative-image {
    display: block;
    margin-bottom: 12px;
}

.creative-name,
.creative-title {
    margin: 0;
    line-height: 1.33;
}

.creative-title {
    color: var(--text-color-2);
}

.work-container {
    border: solid 3px var(--color-2);
    border-radius: 16px;

    /* this gives us natural scrolling beahviour on touch screen */
    -webkit-overflow-scrolling: touch;
}

.work-container::-webkit-scrollbar {
    width: 12px;
    height: 14px;
    background-color: transparent;
}

.work-container::-webkit-scrollbar-thumb {
    background-color: var(--color-2);
    /* border: solid 2px #fff; */
    border-radius: 8px;
}

.work {
    padding: 48px 24px;
}

.work-topic {
    color: var(--text-color-2);
    font-size: 24px;
    line-height: 1;
    margin-bottom: 8px;
}

.work-header {
    /* languages likes japanese sometimes have a vertical writing style */
    writing-mode: vertical-rl;
    /* we can change text orientation to sideways */
    text-orientation: sideways;
    /* then we rotate the text */
    transform: rotate(180deg);
    padding: 24px;
    line-height: 1;
    background-color: var(--color-2);
    text-align: center;
    font-size: 24px;
}

.footer {
    background-color: var(--color-2);
}

.footer-link {
    width: 100px;
    height: 65px;
    background-image: url("assets/images/resize_logo_3.svg");
}

.fade {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.visible {
    opacity: 1;

}

@media (max-width: 800px) {
    body {
        font-size: 16px;
        background-size: auto 90vh;
    }

    .heading {
        font-size: 32px;
        --webkit-text-stroke-width: 3px;
    }

    .button {
        padding: 18px 32px;
        font-size: 16px;
    }

    .heading-orange {
        margin-bottom: 24px;
    }

    blockquote {
        line-height: 1.2;
        font-size: 18px;
    }

    .work-header {
        padding: 12px;
    }

    .work-topic {
        font-size: 16px;
    }
}